.idea
*.iml
*.env
*.pkl
*.csv
*.xls
*.xlsx
*.ipynb_checkpoints
*.pyc
*__pycache__/
*.airflowignore
venv*
logs/
pluggins/
airflow_connections.json
airflow_variables.json
conections_strings.json
connections_strings.json
*results/
*inputs/

